torch>=2.0.0
torchvision>=0.15.0
torchaudio>=2.0.0
gradio==4.14.0
langchain==0.1.0
moviepy==1.0.3
numpy==1.24.1
pyannote.audio==3.1.0
pyannote.core==5.0.0
pyannote.database==5.0.1
pyannote.metrics==3.2.1
pyannote.pipeline==3.0.1
pytube==15.0.0
Requests==2.31.0
transformers==4.35.2
sentence-transformers
ctransformers
accelerate
pre-commit==3.4.0
autollm==0.1.9
